.account-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #f8f9fa;
}

.account-loading {
    text-align: center;
    margin-top: 20%;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    background: white;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 0.8rem;
}
